name: Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Clojure tools
        uses: DeLaGuardo/setup-clojure@v2
        with:
          deps: 'true'
          tools-deps: 'true'

      - name: Build ClojureScript
        run: |
          lein clean
          lein cljsbuild once min

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./resources/public
